<!DOCTYPE html>
<html>

<head>
  <title>{{name}} {{family}}</title>
  <meta charset="utf-8" />
</head>

<body>
  <h1>{{name}} {{family}}</h1>
  <h2>{{position}}</h2>
  <p>{{description}}</p>

</body>
<html>